._showcase {
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 100%);
    padding-top: 100px;

    .container-fluid {
        display: flex;
        align-items: center;
    }
}